.footer-align{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.navbar{
  background: #2e3a48;
  height: 10%;
  width: 100%;
  margin-left: 0;
  padding : 1%;
}


footer{
  background-color: #2e3a48;
  padding : 1%;
  }

p{
  color: white;
  font-size: 85%;
}

img{
  height: 70%;
}

hr{
  width: 1px;
  height: 30px;
  background-color: white;
  border: none;
}
.logo-texto{
  font-family: Roboto-Condensed;
  font-weight: 100;
  color: white;
}
.texto-mp{
  font-size: 16px;

}
.texto-rj{
  font-size:9.5px;
  line-height: 15px;
}

.logo-mprj{
  padding-left: 20%;
}
