html,body {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;

}

.footer-align{
  width: 100%;
  position:relative;
  bottom: -5%;
  height: 5%;
}

footer{
  background-color: #2e3a48;
  padding : 1%;

}
#div_icon{
  vertical-align: center;
  height: 3.0rem;
}
.navbar{
  background: #2e3a48;
  height: 10%;
  width: 100%;
  margin-left: 0;
  margin-right: 0%;
  padding : 1%;
  display: block;
}

nav a {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 120%;
  line-height: 100%;
  margin-left: 3%;
  text-decoration: none;
  vertical-align: bottom;
  cursor: pointer;
}


nav a.router-link-active {
  color: #106cc8;
  display: none;
}

p{
  color: white;
  font-size: 85%;
}

img{
  height: 70%;
}

@media (max-width: 40em) {
img {
  max-width: 1em;
  visibility: hidden;
}
}

hr{
  width: 1px;
  height: 30px;
  background-color: white;
  border: none;
}
.logo-texto{
  font-family: Roboto-Condensed;
  font-weight: 100;
  color: white;
}
.texto-mp{
  font-size: 16px;

}
.texto-rj{
  font-size:9.5px;
  line-height: 15px;
}

.logo-mprj{
  padding-left: 20%;
}
