<div platform>
  <!--<ba-sidebar></ba-sidebar>-->
  <!--<ba-page-top></ba-page-top>-->
<!--  <div class="al-main">
    <div class="al-content">-->
      <!--<ba-content-top></ba-content-top>-->

      <nav class="navbar">
        <img style="margin-left:20%;" alt="MPRJ-image" src="./assets/img/logo_mprj2.png" width="18%" height="18%">
<!--
        <div class="container">
          <div class="row">
            <div class="col-md-6">
            </div>
-->
<!--
          </div>
        </div>
-->
      </nav>





      <router-outlet></router-outlet>

<!--    </div>
  </div>-->

  <footer class="bd-footer text-muted footer-align">
    <div class="container-fluid">
      <div class = "row">
        <div  class="col-md-4 col-sm-5 footerleft">
          <p>© 2017 Ministério Público do Rio de Janeiro. Av. Marechal Câmara, n° 370
            Centro - Rio de Janeiro, RJ - Brasil - CEP 20020-080 - Telefone: (21) 2550-9050</p>
        </div>


        <div align ="right" class="col-md-8 col-sm-5">
          <a href="https://www.facebook.com/MPRJ.Oficial" target="_blank">
            <img src="http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/rodape/icon_facebook.png" alt="Link para o facebook do MPRJ.">
          </a>
          <a href="https://twitter.com/mp_rj" target="_blank">
            <img src="http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/rodape/icon_twitter.png" alt="Link para o twitter do MPRJ.">
          </a>
          <a href="https://www.youtube.com/user/MinisterioPublicoRJ" target="_blank">
            <img src="http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/rodape/icon_youtube.png" alt="Link para o youtube do MPRJ.">
          </a>
          <a href="https://www.flickr.com/photos/mprj_mp/" target="_blank">
            <img src="http://www.mprj.mp.br/mprj-responsiveflat-theme/images/comum/rodape/icon_flickr.png" alt="Link para o flickr do MPRJ.">
          </a>

        </div>
      </div>
    </div>
  </footer>


<!--
  <footer class="al-footer clearfix">
    <div class="al-footer-right" translate>{{'general.created_with'}} <i class="ion-heart"></i></div>
    <div class="al-footer-main clearfix">
      <div class="al-copy">&copy; <a href="http://akveo.com" translate>{{'general.akveo'}}</a> 2016</div>
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook"></i></li>
        <li><i class="socicon socicon-twitter"></i></li>
        <li><i class="socicon socicon-google"></i></li>
        <li><i class="socicon socicon-github"></i></li>
      </ul>
    </div>
  </footer>
-->
<!--  <ba-back-top position="200"></ba-back-top>-->

</div>
