.footer-align{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.navbar{
  background: #2e3a48;
  height: 10%;
  width: 100%;
  margin-left: 0px;
  padding : 1%;
}


footer{
  background-color: #2e3a48;
  padding : 1%;
  }

p{
  color: white;
  font-size: 85%;
}

img{
  height:60%;
}

