<!--<form>
  <select [(ngModel)]="lang" (change)="changeLang($event)" name="lang" class="selectpicker" data-width="fit" data-show-icon="true">
    <option *ngFor="let l of supportedLanguages" [value]="l.code" [data-subtext]="'&lt;span class=\'flag-icon flag-icon-' + 'us' + '\'&gt;&lt;/span&gt;' + l.title">{{l.title}} {{'a\''}}</option>
  </select>
</form>
-->

<div ngbDropDown class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle i18n" data-toggle="dropdown" ngbDropdownToggle>
    <span class="flag-icon flag-icon-br"></span>&nbsp;Portuguese
  </button>
  <ul class="dropdown-menu i18n" role="menu">
    <li *ngFor="let l of supportedLanguages"><span [class]="'flag-icon flag-icon-' + l.flag"></span>&nbsp;{{l.title}}</li>
  </ul>
</div>

<!--<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle i18n" data-toggle="dropdown">
	  <span class='flag-icon flag-icon-br'></span>&nbsp;Portuguese <span class="caret"></span>
  </button>
  <ul class="dropdown-menu list-inline i18n" role="menu">
    <li><span class='flag-icon flag-icon-us'></span>&nbsp;Englissh</li>
  </ul>
</div>
-->
