select {
  background-color: #101c48;
  border-style: none;
  color: rgba(155, 155, 155, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  padding: 4px 8px;
  text-decoration: none;
  margin-right: 10px;
}
