h1{
  text-align:right;
}

p{
  font-size: 95%;
  text-align: right;
}

@media(max-width:1199px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
  img.img-responsive { width:80%;}
  max-width: 100%;
}
