<div class="container-fluid">

  <div class="row">
    <p></p>
  </div>

  <div class="row">
    <div class="col-lg-2 col-sub col-xs-4">
      <img src="./assets/img/ECI.png" class="img-responsive" width="150%">
    </div>

    <div class="col-lg-6 col-xs-12">

      <p><br/></p>
      <img class="img-envolvida" src="./assets/img/Predio Estagio 4 - Construção Adiantada.png" width="65%">
      <h1 class="titulo">O MPRJ e a construção dos sistemas de<br/>
        controle interno dos municípios fluminenses</h1>



      <p><br/><br/></p>
      <p class="texto">O MPRJ idealizou o projeto <b>Edificando o Controle Interno</b>, concretizado nesta ferramenta tecnológica, para colaborar na estruturação do controle interno dos municípios fluminenses e, assim, estimular a transparência e o controle social e fortalecer o controle externo da Administração Pública.</p>
      <p class="texto">O projeto <b>Edificando o Controle Interno</b> possui como diretrizes a permanência e a progressividade: monitoramentos periódicos ocorrerão, com o acréscimo de novos dados estruturais para o incremento constante do controle interno de cada município, sob os aspectos quantitativo e qualitativo.</p>

      <e-link class="link" href="/mp-metodologia">saiba mais sobre<br/>a metodologia<br/>utilizada</e-link>

    </div>

    <div class="col-lg-4 col-xs-12">
      <div class="borderedL">
      <div class="row">
        <img class="img-responsive" src="./assets/img/maparj.png" width="100%" height="100%" >
      </div>
      <p></p>
      <div class="row">
        <e-top-5></e-top-5>
        <e-link class="link" href="/mp-ranking-completo">veja o <br/>ranking <br/>completo</e-link>
      </div>
      </div>
    </div>
  </div>
</div>

<e-subscribe></e-subscribe>
