<div class="container-main">
  <div class="row">
    <div class="col-lg-2 col-xs-8">
      <img src="/assets/img/ECI.png" class="img-responsive" width="150%" >
      <!--<e-link href="/mp-fale-com-o-mprj">fale com o Ministério Público</e-link>-->
    </div>

    <div class="col-lg-6 col-xs-12">

      <div class="row">
        <h1>O MPRJ ajudando a contruir sistemas de controle interno nos municipios do estado do Rio de Janeiro</h1>
      </div>

      <img class="img-envolvida" src="/assets/img/construcao.png">

      <p><br/><br/></p>
      <p>O Ministério Público, através do seu Centro de Apoio Operacional da Tutela Coletiva da Cidadania,
        idealizou o projeto <b>Edificando Controle Interno</b> com vistas a colaborar na edificação dos
        sistemas de controle interno dos municípios do estado do Rio de Janeiro, fortalecendo assim a gestão
        do patrimônio público, refinando a prevenção e o combate a atos de má gestão que podem ocasionar
        improbidade administrativa e propiciando um ambiente de gestão pública de controle e transparência.
      </p>
      <p>
        O projeto teve como ponto de partida o diagníostico geral das estruturas de controle interno dos 92
        municípios através do envio de formaulário digital para autoavaliação. As respostas foram pontuadas,
        agrupadas em dimensões e transformadas em um ranking geral aqui apresentado.
      </p>

    </div>

    <div class="col-lg-4">
      <div class="b-l">
      <div class="row">
        <img class="img-responsive" src="/assets/img/maparj.png" width="100%" height="100%" >
      </div>
      <p></p>
      <div class="row">
        <!--<e-top-5></e-top-5>-->

        <!--Begin Top 5-->

        <table>

          <th>
            <caption class="titulo"> Top 5 Controle Interno </caption>
            <caption class="sub-titulo"> Ranking Geral </caption>
          </th>

          <tr>
            <td class="margem"> <strong> 01 </strong>  </td>
            <td class="margem municipio borda-dir"> Rio de Janeiro </td>
            <td class="margem"> <strong> 02 </strong> </td>
            <td class="margem municipio"> São Francisco de Itabapoana </td>
          </tr>

          <tr>
            <td> <strong> 03 </strong>  </td>
            <td class="municipio borda-dir"> Niterói </td>
            <td> <strong> 04 </strong> </td>
            <td class="municipio"> Cachoeiras de Macacu </td>
          </tr>

          <tr>
            <td class="sem-borda-bottom"> <strong> 05 </strong>  </td>
            <td class="municipio borda-dir sem-borda-bottom"> Santa Maria Madalena </td>
          </tr>

        </table>

        <!--End TOP 5-->
      </div>
    </div>
    <!--<e-link href="/mp-ranking-completo">veja o ranking completo</e-link>-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-8">
      <e-link href="/mp-fale-com-o-mprj">fale com o Ministério Público</e-link>
    </div>
    <div class="col-lg-6 col-xs-12">
      <e-link href="/mp-metodologia">saiba mais sobre a metodologia utilizada</e-link>
    </div>
    <div class="col-lg-4">
      <e-link href="/mp-ranking-completo">veja o ranking completo</e-link>
    </div>
  </div>
</div>
