.img-envolvida {
  float: left;
  width: 60%;
  shape-outside: url(/assets/img/construcao.png);
  shape-margin: 15px;
  shape-image-threshold: 0.5;
}

h1{
  text-align:right;
}

p{
  font-size: 95%;
  text-align: right;
}

@media(max-width:1000px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
}
