<ng-container *ngFor="let markup of markupData; let rootStyleIndex=index">

  <template ngFor let-pEntry [ngForOf]="markup.p || []" let-pStyleIndex="index">
    <div [ngClass]="styles[rootStyleIndex % styles.length]">
      <p *ngIf = "isString(pEntry)">{{pEntry}}</p>
      <m-markup *ngIf = "isObject(pEntry)" [markupData] = "[pEntry]"></m-markup>
    </div>
  </template>

  <template [ngIf]="markup.link">
    <a [href] = "markup.url">
      <template [ngIf]="isString(markup.link)">{{markup.link}}</template>
      <m-markup *ngIf = "isObject(markup.link)" [markupData] = "[markup.link]"></m-markup>
    </a>
  </template>

  <ul *ngIf="markup.list">
    <li *ngFor = "let listEntry of markup.list">
      <span *ngIf = "isString(listEntry)">{{listEntry}}</span>
      <m-markup *ngIf = "isObject(listEntry)" [markupData] = "[listEntry]"></m-markup>
    </li>
  </ul>

</ng-container>
