<div id="top_5" class="container-fluid">
  <div class="row">
    <br/>
    <span class="titulo" style="padding-top:5%">Top 5 do Controle Interno<br/></span>
  </div>
  <div class="row">
    <span class="sub-titulo">Ranking Geral</span>
  </div>
  <div class="row">
    <div *ngIf="errorMessage != null" class="alert alert-danger">
      <b>Erro obtendo dados:</b> {{errorMessage}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xs-10 borda-tab alt-top align-middle animated bounce" >
      <td class="posicao" width="5%">01</td>
      <td class="municipio"> {{top5Concorrentes[0]}} </td>
      <td width="15%"><h4 class="notaAtual" [ngClass]="gradacoes.getCSSClass(top5Notas[0])"> {{(top5Notas[0] | number: '1.2-2').replace(".",",").replace("10,00", "10")}} </h4></td>
      </div>
    <div class="col-lg-6 col-xs-10 alt-top align-middle animated flash" >
      <td class="posicao borda-esq" width="5%">02</td>
      <td class="municipio"> {{top5Concorrentes[1]}} </td>
      <td width="15%"><h4 class="notaAtual" [ngClass]="gradacoes.getCSSClass(top5Notas[1])"> {{(top5Notas[1] | number: '1.2-2').replace(".",",").replace("10,00", "10")}} </h4></td>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xs-10 borda-tab alt-top align-middle animated pulse" >
    <td class="posicao" width="5%">03</td>
    <td class="municipio"> {{top5Concorrentes[2]}} </td>
    <td width="15%"><h4 class="notaAtual" [ngClass]="gradacoes.getCSSClass(top5Notas[2])"> {{(top5Notas[2] | number: '1.2-2').replace(".",",").replace("10,00", "10")}} </h4></td>
    </div>
    <div class="col-lg-6 col-xs-10 alt-top align-middle animated rubberBand">
    <td class="posicao borda-esq" width="5%">04</td>
    <td class="municipio"> {{top5Concorrentes[3]}} </td>
    <td width="15%"><h4 class="notaAtual" [ngClass]="gradacoes.getCSSClass(top5Notas[3])"> {{(top5Notas[3] | number: '1.2-2').replace(".",",").replace("10,00", "10")}} </h4></td>
    </div>
  </div>
<div class="row">
  <div class="col-lg-6 col-xs-10 borda-tab alt-top align-middle animated shake" >
    <td class="sem-borda-bottom posicao" width="5%">05</td>
    <td class="sem-borda-bottom municipio"> {{top5Concorrentes[4]}} </td>
    <td class="sem-borda-bottom" width="15%"><h4 class="notaAtual" [ngClass]="gradacoes.getCSSClass(top5Notas[4])"> {{(top5Notas[4] | number: '1.2-2').replace(".",",").replace("10,00", "10")}} </h4></td>
    </div>
  <div class="col-lg-6 col-xs-10 alt-top">
    <td class="borda-esq sem-borda-bottom">&nbsp;</td>
  </div>
</div>

</div>
