<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="assets/favicon/favicon-<%= ENV_CONFIG.ENV %>.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title><%= APP_TITLE %></title>

  <!-- Bootstrap Core CSS -->
  <!--<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -- injected by angular module 'NgbModule' -->

  <!-- Custom Fonts -->
  <!--<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -- injected by angular module 'PRIMENG_MODULES' -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <!--<link href="css/freelancer.min.css" rel="stylesheet"> -- provided in css/main.css, so this file should be copied there (not the .min. version, but the full one) -->

  <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
  <style>
    .navbar-toggler {
      z-index: 1;
    }

    @media (max-width: 576px) {
      nav > .container {
        width: 100%;
      }
    }
  </style>


  <!-- inject:css -->
  <!-- endinject -->

  <% if (TARGET_DESKTOP) { %>
  <!-- shims:js -->
  <!-- endinject -->
  <% } %>

  <% if (BUILD_TYPE === 'prod') { %>
  <!-- segment.io -->
  <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";

  // REPLACE with your Segment.io write_key
  analytics.load("XVDaTIQYy5g0akx5iTJmPozLKWFLkX6y");
  analytics.page()
  }}();
  </script>
  <% } %>

</head>


<body>

  <sd-app>Loading a Freelancer themed app...</sd-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <% if (!TARGET_DESKTOP) { %>
  <!-- shims:js -->
  <!-- endinject -->
  <% } %>

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Not expecting this error? Report it at https://github.com/NathanWalker/angular-seed-advanced/issues');
    });
  </script>
  <% } %>

  <% if (TARGET_DESKTOP && BUILD_TYPE !== 'prod') { %>
  <script>require('electron-connect').client.create()</script>
  <% } %>

  <!-- more from the freelancer theme -->

  <!-- jQuery Version 3.1.1 -->
  <script src="assets/lib/jquery/jquery.js"></script>

  <!-- Tether -->
  <script src="assets/lib/tether/tether.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <!--<script src="lib/bootstrap/js/bootstrap.min.js"></script> -- provided (and injected) by angular module 'NgbModule' -->
  <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script> <!-- Even if we have the angular module 'NgbModule', this should be included -->

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="assets/js/jqBootstrapValidation.js"></script>
  <script src="assets/js/contact_me.js"></script>

  <!-- Theme JavaScript -->
  <script src="assets/js/freelancer.min.js"></script>

</body>
</html>
