.oceano {
  fill:#FFFFFF;
}

.contornoEstado {
  fill: #1e2a37;
  stroke:#1e2a37;
  stroke-width:1056;
}

.selected {
  color: #2e3a48!important;
}

.municipios {
  color: #fafafa;
  stroke:#1e2a37;
  stroke-width:106;
}

.municipios:hover {
  color: #0680b2;
}
