// este arquivo foi construído de acordo com a especificação de src/client/app/shared/modules/m-edificando-o-controle-interno/GradacoesDeCores.ts

.notaEmProjeto {
  color:#cc0066;
}

.notaEmAlicerce {
  color: #ff99cc;
}

.notaConstrucaoIniciada {
  color:#ff9933;
}

.notaConstrucaoAdiantada {
  color:#6666ff;
}

.notaEmAcabamento {
  color:#0000cc;
}

.notaConstruido {
  color:#53A93F;
}
