//@import "/node_modules/normalize.css/normalize.css";
@import "../scss/theme";
@import "../scss/initial";

// import dependente da habilitação do módulo "m-ranking" em "tools/config/mutua.instance-project.config.ts"
@import "m-ranking/RegrasDeApresentacao";

div.borderedR{
  border-right: 0.05rem solid #000000;
  padding-right: 5%;
}

div.borderedL{
  border-left: 0.05rem solid #000000;
  padding-left: 2rem;
}
