<h2>
  {{ 'GV_HOME_TITLE' | translate }}
</h2>

<p style="white-space: pre-line;">
  {{'GV_HOME_INFO' | translate}}
</p>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<p>
  <a class="link" (click)="gotoStart()">{{'GV_HOME_START' | translate}}</a>
</p>

<m-hello-world>?</m-hello-world>
<m-hello-world hello="Hi" world="Earth">!!!</m-hello-world>
<m-hello-world hello="Hello" world="Mars">!</m-hello-world>

<p-accordion>
  <p-accordionTab header="PrimeNG Header 1">
    Content 1
  </p-accordionTab>
  <p-accordionTab header="PrimeNG Header 2">
    Content 2
  </p-accordionTab>
  <p-accordionTab header="PrimeNG Header 3">
    Content 3
  </p-accordionTab>
</p-accordion>
