.scroll {
  width:100%;
  height:53%;
  background-color: transparent;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 3%;
}

.titulo {
  font-family: 'Roboto-Condensed';
  font-size: 220%;
  line-height: 90%;
  font-weight: bold;
}

.subtitulo {
  font-family: 'Roboto-Condensed-Light';
  font-size: 120%;
  line-height: 80%;
}

.dimensao {
  font-family: 'Roboto-Condensed';
  font-size: 140%;
  line-height: 90%;
  font-weight: bold;
  margin-top: 4%;
}

.pesoHeader {
  font-family: 'Roboto-Condensed';
  font-size: 100%;
  font-weight: bold;
  line-height: 90%;
}

.pesoValor {
  font-family: 'Roboto-Condensed';
  font-size: 340%;
  line-height: 90%;
  font-weight: normal;
  color: rgb(5, 127, 178);
  right: 2%;
}

.info {
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  line-height: 95%;
}

.barra {
  border-right: 1px solid #2e3a48;
}

.barraH {
  border-top: 1px dotted #2e3a48;
  padding-top: 1%;
  margin-top: 1%;

}

hr {
  border-style: dotted;
  border-color: #2e3a48;
  width: 90%;
  padding-top: 2%;
  position: inherit;
  bottom: 1%;
}

p {
  padding-right: 4%;
  padding-left: 5%;
}

@media(max-width:1199px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
  img.img-responsive { width:80%;}
  max-width: 100%;
}

.logo {
  position: fixed;
  top: 40%;
  left: 40%;
  cursor: pointer;
}
