<!-- MARCOS, DÊ UMA OLHADA EM https://stackoverflow.com/questions/34981971/bootstrap-rowspan-2-for-middle-column -- que tem um layout parecido -->
<!-- ou, ainda, em https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_td_rowspan -->

<div class="container-fluid">
  <div class="row">
    <p></p>
  </div>
  <div class="row" >
    <div class="col-lg-7 col-xs-12">

        <div class="row">
          <div class="col-lg-7"><br/>
            <span class="titulo">Entenda as dimensões</span><br/>
            <span class="subtitulo">Quais são os assuntos e temas avaliados em cada uma das dimensões e qual o seu peso na composição do ranking do controle interno.</span><br/><br/>
          </div>
          <div class="col-lg-5">
            <a [routerLink]="['/']">
              <!--<img style="margin-left: 50%;" src="./assets/img/Logo Edificando o Controle Interno.png" width="auto" height="25%">-->
            </a>
          </div>
        </div>

      <div class="scroll">
        <div class="row">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Auditoria</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">10</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia a função auditoria do controle interno, que examina a legalidade e avalia a eficiência e a eficácia dos resultados da gestão financeira, orçamentária e patrimonial nos órgãos e entidades auditados, bem como da aplicação de recursos públicos por entidades de direito privado.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Ouvidoria</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">08</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia a função ouvidoria do controle interno, que registra e trata representações e manifestações do cidadão sobre os serviços prestados à sociedade e a adequada aplicação de recursos públicos.</p>
            </div>
          </div>
        </div>


        <div class="row barraH">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Correição</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">08</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia a função corregedoria do controle interno, que apura os indícios de ilícitos praticados no âmbito da Administração Pública e promove a responsabilização dos envolvidos, visando, inclusive, ao ressarcimento quando houver dano ao erário.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Controladoria</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">04</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia a função controladoria do controle interno, que orienta e acompanha a gestão governamental para subsidiar a tomada de decisões a partir da geração de informações, de maneira a garantir a melhoria contínua da qualidade do gasto público.</p>
            </div>
          </div>
        </div>


        <div class="row barraH">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Transparência</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">10</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia se o sistema de controle interno promove ações destinadas a assegurar a acessibilidade, a integridade e a clareza das informações e dados disponibilizados ou fornecidos ao cidadão, bem como a regulamentação da Lei nº 12.527/2011.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Auxílio ao Controle Externo</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">05</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia se as atividades promovidas pelo órgão de controle interno facilitam e auxiliam a atuação do controle externo da Administração Pública.</p>
            </div>
          </div>
        </div>

        <div class="row barraH">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Estrutura</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">09</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia o posicionamento do órgão de controle interno e de suas macrofunções na estrutura orgânica do ente municipal e se os recursos humanos, materiais, orçamentários e tecnológicos são adequados e suficientes para o bom desempenho do órgão de controle interno.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Abrangência</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">10</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia a amplitude e o alcance das atividades do órgão de controle interno municipal.</p>
            </div>
          </div>
        </div>

        <div class="row barraH">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Autonomia</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">09</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia se o sistema de controle interno municipal assegura a atuação independente, objetiva e imparcial de seus servidores em relação aos órgãos e entidades auditados.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Regulamentação</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">06</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia a existência dos atos normativos que regulamentam o controle interno da Administração Pública municipal, a Lei nº 12.527/2011 e a Lei nº 12.846/2013.</p>
            </div>
          </div>
        </div>

        <div class="row barraH">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Orçamento</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">08</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia o controle dos recursos do orçamento, como o cumprimento das metas do Plano Plurianual e o remanejamento, transposição ou transferência de recursos.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Planejamento</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">07</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia o planejamento para a realização de auditorias e a padronização de rotinas administrativas referentes a este planejamento.</p>
            </div>
          </div>
        </div>

        <div class="row barraH">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Evolução</div>
              <!--<div class="col-md-4">
                Peso <strong>0</strong>
              </div>-->
            </div>
            <div class="row">
              <p class="info"><br/>Avalia o estágio de desenvolvimento do sistema de controle interno no momento de sua medição, em comparação com períodos anteriormente medidos.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Resolutividade</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">05</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia se os produtos dos trabalhos contemplam recomendações com vistas à correção de falhas, aprimoramento de processos, dos controles primários ou do
                marco normativo das atividades auditadas ou a instauração de medidas apuratórias.</p>
            </div>
          </div>
        </div>

        <div class="row barraH">
          <div class="col-lg-6 col-xs-12 barra">
            <div class="row">
              <div class="col-md-8 dimensao">Concretização de Políticas Públicas</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">04</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia se o órgão de controle interno fiscaliza os recursos municipais destinados à implementação de políticas públicas, notadamente nas áreas de saúde, educação, meio ambiente, assistência social, proteção à criança e ao adolescente e proteção ao idoso.</p>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12">
            <div class="row">
              <div class="col-md-8 dimensao">Iniciativa Louvável</div>
              <div class="col-md-4 pesoHeader">
                PESO <span class="pesoValor">02</span>
              </div>
            </div>
            <div class="row">
              <p class="info"><br/>Avalia as atividades realizadas pelo órgão de controle interno, que por serem inovadoras e irem além dos requisitos mínimos estipulados, são compreendidas como dignas de louvor e elogio.</p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-lg-5 col-xs-12">
      <div class="borderedL"><br/>
        <div class="col-lg-8">
          <span class="titulo">Entenda a classificação</span><br/>
          <span class="subtitulo">Quais são os diferentes níveis de maturidade e as notas que definem os seus enquadramentos.<br/><br/></span>
        </div>
        <div class="col-lg-3">
          <a [routerLink]="['/']">
            <!--<img style="margin-left: 50%;" src="./assets/img/Logo Edificando o Controle Interno.png" width="auto" height="25%">-->
          </a>
        </div>

        <p class="info">A classificação, especialmente desenvolvida para este projeto, possui uma gradação, em notas de 0 a 10, correspondente ao nível de maturidade apresentado por cada município no diagnóstico do seu sistema de controle interno de forma geral e também de forma individualizada em cada uma das dimensões avaliadas.<br/><br/><br/></p>
        <div class="row">
          <img class="img-responsive" src="./assets/img/classificacoes.png" width="100%" height="100%" style="padding-left: 5%;padding-right: 5%;" >
        </div>
      </div>
    </div>

  </div>
</div>
