strong{
  font-size: 180%;
  font-weight: bold;
  width:5%;
  color: #0d95e8;
}

hr {
  border-style: dotted;
  border-color: #2e3a48;
  width: 90%;
  margin-bottom: 2%;
  position: absolute;
  bottom: 0;
}

p {
  padding-right: 4%;
  padding-left: 5%;
}

@media(max-width:1199px){
  div.borderedL { border-color: transparent;}
  div.borderedR { border-color: transparent;}
  img.img-responsive { width:80%;}
  max-width: 100%;
}
