b{
  font-size: 25px;
}

.full{
  width: 100%;
  height:100%;
}

p{
  font-size: 20px;
}

.row {
  margin-right: 0.5%;
}

.title {
  font-family: 'Roboto-Condensed-Bold';
  font-size: 240%;
  line-height: 100%;
}

.dimensao {
  font-family: 'Roboto-Condensed-Light';
  font-size: 150%;
  line-height: 70%;
}

.tituloOutrosRankings {
  font-family: 'Roboto-Condensed-Light';
  font-size: 120%;
  line-height: 200%;
}

.outrosRankings {
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  line-height: 100%;
  background-color: #E0E0E0;
  border-style: none;
  color: rgba(10, 10, 10, 0.87);
  cursor: pointer;
  padding: 4px 8px;
  text-decoration: none;
  margin-right: 10px;
}

@media (min-width:992) {
  .col-lg-3{
    max-width: 35%!important;
  }
}
