<div class="container-fluid">
  <div class="row">
    <p></p>
  </div>
  <div class="row" >
    <div class="col-lg-3 col-xs-12 "style="max-height: 50rem">
      <p>
        <a [routerLink]="['/']">
        <img src="assets/img/Logo Edificando o Controle Interno.png" height="150px">
        </a>
       <b> Ranking </b> {{dimensao}}
      </p>

      <!-- Outros Rankings -->
      Outros Rankings: <div ngbDropDown class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle outrosRankings" data-toggle="dropdown" ngbDropdownToggle>
          {{dimensao}}
        </button>
        <ul class="dropdown-menu outrosRankings">
          <li *ngFor="let campo of mapaDeCamposParaTitulos" (click)="trocaRanking(campo[0])">{{campo[1]}}</li>
        </ul>
      </div>

      <e-ranking-geral dimensao="{{dimensao}}"> </e-ranking-geral>
    </div>

    <div class="col-lg-5 col-xs-12">
      <e-status-edificacao municipio="{{municipio}}" dimensao="{{dimensao}}"></e-status-edificacao>
    </div>

    <div class="col-lg-4 col-xs-12">
    <e-dimensoes municipio="{{municipio}}" ordenacao="titulo"></e-dimensoes>
    </div>
  </div>
</div>
