<!--<nav>
  <a href="#">{{'HOME' | translate}}</a>
  <a href="#about">{{'ABOUT' | translate}}</a>
  <a href="#gv-home">{{'APP_NAME' | translate}}</a>
</nav>-->

<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
    Menu <i class="fa fa-bars"></i>
  </button>
  <div class="container">
    <a class="navbar-brand page-scroll" href="#page-top">{{'APP_NAME' | translate}}</a>
    <div class="collapse navbar-collapse" id="navbarExample">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <lang-switcher></lang-switcher>

</nav>
