<div class="container-fluid">


  <div class="row">
    <p></p>
  </div>

  <div class="row">
    <div class="col-lg-2 col-sm-7 col-sub col-8">
      <p>MPRJ Clean Template</p>

      <p>Componente <b>mp-link</b>:</p><br/><br/>
      <mp-link class="link" href="#">link<br/>padronizado</mp-link>

    </div>

    <div class="col-lg-6 col-xs-12">

      <p><br/></p>
      <mp-mapa-interativo estado="Rio de Janeiro - RJ" selectedRedirection = "myPath/#{nomeMunicipio}/kaka" [preSelecionados] = "['Angra dos Reis', 'Rio de Janeiro']" [debug]="true" [dropdown]="true" ></mp-mapa-interativo>

    </div>

    <div class="col-lg-4 col-xs-12">
      <div class="borderedL">
        <div class="row">
          <img class="img-responsive" src="./assets/img/maparj.png" width="100%" height="100%">
        </div>
        <p></p>
        <div class="row">
          <mp-link class="link" href="/mp-ranking-completo">veja o <br/>ranking <br/>completo</mp-link>
        </div>
      </div>
    </div>
  </div>
</div>

<mp-subscribe></mp-subscribe>
