// este arquivo foi construído de acordo com a especificação de src/client/app/shared/modules/m-edificando-o-controle-interno/GradacoesDeCores.ts

.notaEmProjeto {
  color:#ff0000;
}

.notaEmAlicerce {
  color:#d99694;
}

.notaConstrucaoIniciada {
  color:#b08027;
}

.notaConstrucaoAdiantada {
  color:#95b3d7;
}

.notaEmAcabamento {
  color:#376092;
}

.notaConstruido {
  color:#354152;
}
