//@import "/node_modules/normalize.css/normalize.css";
@import "../scss/theme";
@import "../scss/initial";
@import "GradacoesDeCores";

.img-envolvida {
  float: left;
  shape-outside: url("../assets/img/Predio Estagio 4 - Construção Adiantada.png");
  shape-margin: 5%;
  shape-image-threshold: 0.5;
}

div.borderedR{
  border-right: 2px solid #000000;
  padding-right: 5%;
}

div.borderedL{
  border-left: 2px solid #000000;
  padding-left: 5%;
}
