select {
  background-color: #101c48;
  border-style: none;
  color: rgba(155, 155, 155, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 25px;
  padding: 8px 18px;
  text-decoration: none;
}
