<div class="row">

  <ng-container *ngFor="let markup of markupData; let rootStyleIndex=index">

    <template ngFor let-pEntry [ngForOf]="markup.p || []" let-pStyleIndex="index">
      <div [ngClass]="styles[rootStyleIndex % styles.length]">
        <p *ngIf = "isString(pEntry)">{{pEntry}}</p>
        <s-markup *ngIf = "isObject(pEntry)" [markupData] = "[pEntry]"></s-markup>
      </div>
    </template>

    <template [ngIf]="markup.link">
      <div [ngClass]="styles[rootStyleIndex % styles.length]">
        <a [href] = "markup.url" [ngClass]="(styles.a || [''])[0]">
          <template [ngIf]="isString(markup.link)">{{markup.link}}</template>
          <s-markup *ngIf = "isObject(markup.link)" [markupData] = "[markup.link]"></s-markup>
        </a>
      </div>
    </template>

    <ul *ngIf="markup.list">
      <li *ngFor = "let listEntry of markup.list">
        <span *ngIf = "isString(listEntry)">{{listEntry}}</span>
        <s-markup *ngIf = "isObject(listEntry)" [markupData] = "[listEntry]"></s-markup>
      </li>
    </ul>

  </ng-container>

</div>
