.notas{
  vertical-align: top;
  font-size: 10px;
  color: black;
}

.fonte{
  font-weight: bold;
  font-size:13px;
  font-family: Arial ;
  width:95px;
  color: black;
}

.alinhamento-dir{
  text-align: right;
}

.bordas {
  border-bottom: 2px dotted;
}

img{
  width:30px;
  height:30px;
  float: right;
}

small{
  color:gray;
  font-size: 15px;
}

h4{
  color:#00b050;
  font-size: 30px;
  font-weight: normal;
}


table{
  width:260px;
}
