.notasHeader {
  font-family: 'Roboto-Condensed';
  font-size: 7pt;
  line-height: 6pt;
  vertical-align: top;
  text-align: center;
  font-size: 60%;
}

.ultimaNota {
  font-family: 'Roboto-Condensed-Light';
  font-size: 12pt;
  vertical-align: bottom;
}

.notaAtual {
  font-family: 'Roboto-Condensed-Light';
  font-size: 20pt;
  vertical-align: bottom;
}


.dimensao{
  font-family: 'Roboto-Condensed-Bold';
  font-size: 14pt;
  width:40%;
}

.alinhamento-dir{
  text-align: right;
}

.bordas {
  border-bottom: 1px dotted;
  border-bottom-color: #2e3a48;
}

.bordaEsquerda {
  border-left: 2px solid #000000;
}


img{
 float: right;
}

small{
  color:gray;
  font-size: 180%;
}

h4{
  font-size: 280%;
  font-weight: normal;
}

table{
  width:100%;
}
