.notasHeader {
  font-family: 'Roboto-Condensed';
  font-size: 70%;
  line-height: 90%;
  vertical-align: top;
  text-align: right;
  padding-top: 3%;
  light: 20;
  color: black;
}

.ultimaNota {
  font-family: 'Roboto-Condensed-Light';
  font-size: 200%;
  vertical-align: bottom;
  text-align: right;
}

.notaAtual {
  font-family: 'Roboto-Condensed-Light';
  font-size: 280%;
  vertical-align: bottom;
  margin-top: 10%;
  text-align: right;
}


.dimensao{
  font-family: 'Roboto-Condensed';
  font-weight: bold;
  font-size: 140%;
  line-height: 90%;
}

.alinhamento-dir{
  text-align: right;
}

.bordas {
  border-bottom: 1px dotted;
  border-bottom-color: #2e3a48;
}

.bordaEsquerda {
  position: 50%;
  border-left: 1px solid #000000;
  padding-left: 2%;
}

td{
  padding-bottom: 2.5%;
  padding-left: 1%;
  padding-right: 2%;
}

img{
  float: right;
}

small{
  color:gray;
  font-size: 180%;
}

h4{
  font-size: 280%;
  font-weight: normal;
}

table{
  width:100%;
}
