<div class="container-fluid">
  <div class="row" *ngFor="let quarteto of mapaDeCamposParaTitulos; let i = index">
    <!--municipio: {{municipio}} / {{notas.municipio}}-->
    <div class="col-xs-12 col-lg-6 " style=" resize:horizontal;padding:0">
      <table style="height:6rem">
        <tr class="bordas"><div style="resize:horizontal;">
          <td class="dimensao w-25"> {{quarteto[1]}} </td>
          <td> <img  class="img-fluid" src="./assets/img/Estabilizado.png"> </td>
          <td class="alinhamento-dir notasHeader w-3"> ÚLTIMA <br/>NOTA <br/><br/><span class="ultimaNota"> - </span> </td>
          <td class="notasHeader w-3"> NOTA <br/>ATUAL
            <h4 class="notaAtual" [ngClass]="gradacoes.getCSSClass(notas[quarteto[0]])"> {{(notas[quarteto[0]] || 0 | number: '1.1-1').replace(".",",").replace("10,0", "10")}} </h4>
          </td></div>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-lg-6 " style="resize:horizontal;padding:0">
      <div class="borderedL">
        <table style="height:6rem">
          <tr class="bordas"><div style="resize:horizontal;">
            <td class="dimensao w-25"> {{quarteto[3]}} </td>
            <td> <img  class="img-fluid" src="./assets/img/Estabilizado.png" > </td>
            <td class="alinhamento-dir notasHeader w-3"> ÚLTIMA <br/>NOTA <br/><br/><span class="ultimaNota"> - </span> </td>
            <td class="notasHeader w-3"> NOTA <br/>ATUAL
              <h4 class="notaAtual" [ngClass]="gradacoes.getCSSClass(notas[quarteto[2]])"> {{(notas[quarteto[2]] || 0 | number: '1.1-1').replace(".",",").replace("10,0", "10")}} </h4>
            </td></div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
