.notas{
  vertical-align: top;
  font-size: 60%;
}

.fonte{
  font-weight: bold;
  font-size:90%;
  font-family: Arial, Verdana, sans-serif;
  width:40%;
}

.alinhamento-dir{
  text-align: right;
}

.bordas {
  border-bottom: 1px dotted;
  border-bottom-color: #2e3a48;
}

img{
 float: right;
}

small{
  color:gray;
  font-size: 180%;
}

h4{
  font-size: 280%;
  font-weight: normal;
}

table{
  width:100%;
}
