.notasHeader {
  font-family: 'Roboto-Condensed';
  font-size: 60%;
  line-height: 90%;
  vertical-align: top;
  text-align: center;
  padding-top: 3%;
  light: 20;
}

.ultimaNota {
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  vertical-align: bottom;
}

.notaAtual {
  font-family: 'Roboto-Condensed-Light';
  font-size: 280%;
  vertical-align: bottom;
  margin-top: 10%;
}


.dimensao{
  font-family: 'Roboto-Condensed-Bold';
  font-size: 120%;
}

.alinhamento-dir{
  text-align: right;
}

.bordas {
  border-bottom: 1px dotted;
  border-bottom-color: #2e3a48;
}

.bordaEsquerda {
  border-left: 2px solid #000000;
}

td{
  padding-bottom: 2.3%;
  padding-left: 1%;
  padding-right: 1%;
}

img{
  float: right;
}

small{
  color:gray;
  font-size: 180%;
}

h4{
  font-size: 280%;
  font-weight: normal;
}

table{
  width:100%;
}
