<table>
<tr>
  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Auditoria </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Ouvidoria </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Correição </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Controladoria </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table class="bordas">
      <tr>
        <td class="fonte">Transparência </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Controle Externo </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Estrutura </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Abrangência </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Autonomia </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Regulamentação </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Orçamento </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Planejamento </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Evolução </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table class="bordas">
      <tr>
        <td class="fonte"> Resolutividade </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table>
      <tr>
        <td class="fonte"> Concretização de Políticas Públicas </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>

  <td>
    <table>
      <tr>
        <td class="fonte"> Iniciativa Louvável </td>
        <td> <img src="/assets/img/seta-up.png"> </td>
        <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 8,5 </small>  </td>
        <td class="notas" width="80px"> Nota Atual <h4> 8,5 </h4> </td>
      </tr>
    </table>
  </td>
</tr>

</table>
