<p>e-ranking-geral.component</p>

<ul class="barra-de-rolagem">
  <li>
    <a href="#">
      <table>
        <tr>
          <td> <strong> 01 </strong> </td>
          <td class="municipio"> Rio de Janeiro </td>
          <td class="mapa" colspan="2"> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/mapa.png"> </td>
        </tr>

        <tr>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/seta-up.png"> </td>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/grafico-linha.png">  </td>
          <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 5,2 </small> </td>
          <td class="notas" width="80px"> Nota Atual <big> 9,4 </big></td>
        </tr>
      </table>
    </a>
  </li>

  <li>
    <a href="#">
      <table>
        <tr>
          <td> <strong> 02 </strong> </td>
          <td class="municipio"> São Francisco de Itabapoana </td>
          <td class="mapa" colspan="2"> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/mapa.png"> </td>
        </tr>

        <tr>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/seta-up.png"> </td>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/grafico-linha.png">  </td>
          <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 5,2 </small> </td>
          <td class="notas" width="80px"> Nota Atual <big> 9,4 </big></td>
        </tr>
      </table>
    </a>
  </li>

  <li>
    <a href="#">
      <table>
        <tr>
          <td> <strong> 15 </strong> </td>
          <td class="municipio"> Angra dos Reis </td>
          <td class="mapa" colspan="2"> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/mapa.png"> </td>
        </tr>

        <tr>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/seta-up.png"> </td>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/grafico-linha.png">  </td>
          <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 5,2 </small> </td>
          <td class="notas" width="80px"> Nota Atual <big> 9,4 </big></td>
        </tr>
      </table>
    </a>
  </li>


  <li>
    <a href="#">
      <table>
        <tr>
          <td> <strong> 40 </strong> </td>
          <td class="municipio"> Volta Redonda </td>
          <td class="mapa" colspan="2"> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/mapa.png"> </td>
        </tr>

        <tr>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/seta-up.png"> </td>
          <td> <img src="/home/tais/Documentos/Controle Interno - HTML/Ícones/grafico-linha.png">  </td>
          <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 5,2 </small> </td>
          <td class="notas" width="80px"> Nota Atual <big> 9,4 </big></td>
        </tr>
      </table>
    </a>
  </li>


  <li>
    <a href="#">
      <table>
        <tr>
          <td> <strong> 97 </strong> </td>
          <td class="municipio"> Macaé </td>
          <td class="mapa" colspan="2"> <img src="/assets/img/mapa.png"> </td>
        </tr>

        <tr>
          <td> <img src="/assets/img/seta-up.png"> </td>
          <td> <img src="/assets/img/grafico-linha.png">  </td>
          <td class="alinhamento-dir notas" width="5px"> Última Nota <small> 5,2 </small> </td>
          <td class="notas" width="80px"> Nota Atual <big> 9,4 </big></td>
        </tr>
      </table>
    </a>
  </li>


</ul>
