
.barra-de-rolagem {
  width:95%;
  height:60%;
  background-color: transparent;
  overflow: auto;
}

.municipio{
  font-size: 90%;
  font-weight: normal;
  width:45%;
  vertical-align: top;
}

.mapa{
  width:20%;
  float: right;

}

.notas{
  vertical-align: top;
  padding-left: 3%;
  font-size: 60%;
}

.alinhamento-dir{
  text-align: right;
}

small{
  color:gray;
  font-size: 180%;
}

h4{
  font-size: 280%;
  font-weight: normal;
}

strong{
  font-size: 180%;
  font-weight: bold;
  width:5%;
}

a:hover{
  color: white;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {

  text-align: left;
}

ul li a{
  padding: 5%;
  text-decoration: none;
  color:black;
  display: block;

}
ul li a:hover {
  background-color: #2e3a48;
  text-decoration: none;
  color: white;
}

ul li a:active {
  background-color: #2e3a48;
  text-decoration: none;
}

hr {
  border-style: dotted;
  border-color: #2e3a48;
  width: 90%;
  margin-left: 0;
}
