<ul class="barra-de-rolagem">

  <li *ngFor="let notas of ranking; let posicao = index">
    <a [routerLink]="['/mp-ranking-completo', notas.cidade, dimensao]">
      <table>
        <tr>
          <td> <strong> {{posicao+1 | number: '2.0-0'}} </strong> </td>
          <td class="municipio"> {{notas.cidade}} </td>
          <td class="mapa" colspan="2"> <img src="/assets/img/mapa.png"> </td>
        </tr>

        <tr>
          <td> <img src="/assets/img/seta-up.png"> </td>
          <td> <img src="/assets/img/grafico-linha.png">  </td>
          <td class="alinhamento-dir notas" width="5%"> Última Nota <small> --- </small> </td>
          <td class="notas" width="80px"> Nota Atual <h4 [ngClass]="notas[dimensao] >= 7 ? 'verde' : 'vermelha'"> {{(notas[dimensao] | number: '1.1-1').replace(".",",")}} </h4></td>
        </tr>
      </table>
    </a>
  </li>



</ul>
