
.barra-de-rolagem {
  width:95%;
  height:68%;
  background-color: transparent;
  overflow: auto;
}

.posicao {
  font-family: 'Roboto-Condensed';
  font-size: 250%;
  line-height: 90%;
  vertical-align: top;
  width: 5%;
}

.municipio{
  font-family: 'Roboto-Condensed-Light-Bold';
  font-size: 120%;
  line-height: 90%;
  vertical-align: top;
}

.mapa{
  width:20%;
  float: right;
}

.notasHeader {
  font-family: 'Roboto-Condensed';
  font-size: 55%;
  line-height: 90%;
  vertical-align: top;
  text-align: center;
  padding-left: 3%;
}

.ultimaNota {
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  vertical-align: bottom;
}

.notaAtual {
  font-family: 'Roboto-Condensed-Light';
  font-size: 280%;
  vertical-align: bottom;
}

.alinhamento-dir{
  text-align: right;
}

.bordas {
  border-bottom: 1px dotted;
  border-bottom-color: #2e3a48;
}


small{
  color:gray;
  font-size: 180%;
}

h4{
  font-size: 280%;
  font-weight: normal;
}

strong{
  font-size: 180%;
  font-weight: bold;
  width:5%;
}

a:hover{
  color: white;
}

a:active{
  background-color: #2e3a48;
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
  list-style: none;
}

ul li {

  text-align: left;
}

ul li a{
  padding: 5%;
  text-decoration: none;
  color:black;
  display: block;

}
ul li a:hover {
  background-color: #2e3a48;
  text-decoration: none;
  color: white;
}

ul li a:active {
  background-color: #2e3a48;
  text-decoration: none;
}

hr {
  border: 1px solid;
  border-color: #2e3a48;
  width: 90%;
  margin-left: 0;
}


