.backImg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-width: 80% !important;
}

.title {
  font-family: 'Roboto-Condensed-Bold';
  font-size: 200%;
  line-height: 80%;
}

.subtitle {
  font-family: 'Roboto-Condensed-Bold';
  font-size: 120%;
  line-height: 90%;
}

.dimensao {
  font-family: 'Roboto-Condensed-Light';
  font-size: 100%;
  line-height: 70%;
}

.posicao {
  font-family: 'Roboto-Condensed';
  font-size: 180%;
  line-height: 70%;
}

.nota {
  font-family: 'Roboto-Condensed-Light';
  font-size: 140%;
  line-height: 70%;
}

.bordaEsquerda {
  border-left: 1px solid #404040;
  padding-left: 7%;
}

@media(max-width:1199px){
  max-width: 100%;
  .backImg{
    position: inherit;
    z-index: inherit;
    top:inherit;
    left: inherit;
    width: 90%;
    height: 90%;
    padding-left: 5%;
  }
}
