<div class="row">
  <img class="align-center img-responsive backImg" [src]="gradacoes.getImagemConstrucao(nota)" width="85%">
  <div class="col-md-6"></div>
  <div class="col-md-6">

    <div class="borderedL">
      <h2 class="title">{{municipio}}</h2>
      <p></p>
      <table width="80%">
        <tr>
          <td class="subtitle" width="40%" style="padding-right: 5%;">Posição <br/><span class="dimensao">geral</span></td>
          <td *ngIf="dimensao != 'geral'" class="subtitle bordaEsquerda">Posição <br/><span class="dimensao">{{dimensao}}</span></td>
        </tr>
        <tr>
          <td style="padding-top: 5%;padding-right: 5%;" width="40%"><span class="posicao">{{posicaoGeral}} |</span> <span class="nota" [ngClass]="gradacoes.getCSSClass(notaGeral)">{{(notaGeral | number: '1.1-1').replace(".",",").replace("10,0", "10")}}</span></td>
          <td *ngIf="dimensao != 'geral'" style="padding-top: 5%;" class="bordaEsquerda"><span class="posicao">{{posicao}} |</span> <span class="nota" [ngClass]="gradacoes.getCSSClass(nota)">{{(nota | number: '1.1-1').replace(".",",").replace("10,0", "10")}}</span></td>
        </tr>
      </table>
<!--      <h4 class="subtitle">Posição geral: <span class="posicao">{{posicaoGeral}} |</span> <span class="nota" [ngClass]="gradacoes.getCSSClass(notaGeral)">{{(notaGeral | number: '1.1-1').replace(".",",").replace("10,0", "10")}}</span></h4>
      <h4 *ngIf="dimensao != 'geral'" class="subtitle">Posição {{dimensao}}: <span class="posicao">{{posicao}} |</span> <span class="nota" [ngClass]="gradacoes.getCSSClass(nota)">{{(nota | number: '1.1-1').replace(".",",").replace("10,0", "10")}}</span></h4>
-->
      <div *ngIf="dadosMunicipiosErrorMessage != null" class="alert alert-danger">
        <b>Erro obtendo dados:</b> {{dadosMunicipiosErrorMessage}}
      </div>
      <br/>
      <p class="info">
        População: <strong>{{dadosDoMunicipio.populacaoProjetada2016}}</strong><br/>
        Orçamento: <strong>{{dadosDoMunicipio.orcamento2015}}</strong><br/>
      </p>
      <row>
        <!--<e-link href="/mp-informacoes-gerais">mais informações</e-link>-->
      </row>
    </div>
  </div>
</div>
