<div class="row">
  <img class="align-center img-responsive backImg" [src]="gradacoes.getImagemConstrucao(nota)" width="85%">
  <div class="col-md-6"></div>
  <div class="col-md-6">

    <div class="borderedL">
      <h2 class="title">{{municipio}}</h2>
      <p></p>
      <h4 class="subtitle">Posição {{posicao}} |  <span [ngClass]="gradacoes.getCSSClass(nota)">{{(nota | number: '1.1-1').replace(".",",").replace("10,0", "10")}}</span></h4>
      <p class="info">{{dimensao}} </p>
      <row>
        <e-link href="/mp-informacoes-gerais">mais informações</e-link>
      </row>
    </div>
  </div>
</div>
