.backImg {position: absolute; z-index: 1; top: 0; left: 0;}

.title {
  font-family: 'Roboto-Condensed-Bold';
  font-size: 18pt;
  line-height: 15px;
}

.subtitle {
  font-family: 'Roboto-Condensed-Bold';
  font-size: 12pt;
  line-height: 10px;
}

.info {

}
