
.form-control{
  width: 100%;
  background-color:darkgray;
  color: #304051;
}

.row{
  width: 100%;
}
.form-group{
  padding-left:23%;
}
.link {

  bottom: 0%;
  right: 2%;
  font-family: 'Roboto-Condensed';
  font-size: 150%;
  line-height: 90%;
  text-align: right;
  color: rgb(5, 127, 178);
  cursor: pointer;
}

.btn-primary-outline{
border:none;
background: transparent !important;
}

h3{
  font-family: 'Roboto-Condensed';
  font-size: 180%;
  font-weight: bold;
  line-height: 90%;
}

p{
  text-align: right;
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto-Condensed-Light';
  font-size: 80%;
  line-height: 90%;
}

br{
  margin-bottom: 0.5rem;
}
a{
  color: #057fb2 !important;
}

@media(max-width:991px){
  .img-envolvida {
    shape-outside: url("./assets/img/Logo Edificando o Controle Interno.png");
    content: url("./assets/img/ECI-logo.png")!important;
    float: left;
    shape-margin: 7%;
    shape-image-threshold: 0.5;
  }
}
