<div class="modal-header">

  <div class="modal-body">
    <div class="container-fluid">
        <div class="row">

          <div class="col-lg-3 hidden-xs hidden-sm hidden-lg " style="margin-top: 7%">
            <img src="./assets/img/ECI.png"  width="200%">
          </div>

          <div class="col-lg-9" style="margin-top: 5%">

            <img class="img-envolvida" src="./assets/img/Predio Estagio 4 - Construção Adiantada.png" width="65%">
            <h3 style="text-align: right">Nós também estamos em obras...</h3>



            <p><br/><br/></p>
            <p>Após a primeira apuração e divulgação de resultados em evento com as prefeituras fluminense e o MPRJ realizado no dia 19/06/2017, concedemos um prazo de 15 dias para a retificação das informações prestadas.</p>
            <br/>
            <p>Com as respostas retificadas, o ranking que está disponível neste momento <b>pode sofrer alterações.</b>Convidamos você a retornar a este sítio dentro de 30 dias para conferir o ranking denfinitivo e atualizado.</p>
            <br/>
            <p>Se quiser, informe o seu email</p>
            <p>abaixo que nós avisaremos</p>
            <p>quando o novo ranking estiver</p>
            <p>disponivel</p>


            <form>
              <div class="form-group">
                <input *ngIf="!subscribed" [(ngModel)]="email" [placeholder]="'digite o seu email'" type="email" name="_email" class="form-control">
                <span *ngIf="subscribed">{{email}}<br/></span>
              </div>

              <button *ngIf="!subscribed && !isPosting" type="submit" class="link btn btn-primary-outline" style="float: right" (click)="subscribe()">ok, me avise</button>
              <span *ngIf="isPosting" style="float: right">Inscrevendo...</span>
              <span *ngIf="subscribed" style="float: right">Ok! Você será avisado!</span>
              <div *ngIf="subscriptionErrorMessage != null" class="alert alert-danger">
                <b>Erro ao realizar pedido de inscrição:</b> {{subscriptionErrorMessage}}
              </div>
              <br><br>
              <a class="link btn" style="float: right" (click)="activeModal.close('Close click')">quero ver o <br/>ranking atual</a>
            </form>
          </div>

      </div>
    </div>
    <br>
  </div>

</div>
