
.form-control{
  width: 100%;
  background-color: darkgray;
  color: #304051;
}

.row{
  width: 100%;
}
.form-group{
  padding-left:23%;
}

p{
  text-align: right;
  padding: 0%;
  margin: 0%;
}

br{
  margin-bottom: 0.5rem;
}
