.borda-esq{
  padding-left: 2%;
}

.link {
  font-family: 'Roboto-Condensed';
  font-size: 200%;
  line-height: 90%;
  text-align: right;
  color: rgb(5, 127, 178);
}

.borda-tab{
  height:5rem ;
  border-right:1px solid !important;
  padding:0!important;
}
.container{
  min-width: 100%;
}

.titulo{
  font-family: 'Roboto-Condensed-Bold';
  font-size: 240%;
  line-height: 130%;
  text-align: left;
  padding-bottom: 1%;
}

.sub-titulo{
  font-family: 'Roboto-Condensed-Light';
  font-size: 150%;
  line-height: 70%;
  text-align: left;
  padding-bottom: 2%;
}

.posicao {
  font-family: 'Roboto-Condensed';
  font-size: 280%;
  line-height: 90%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.municipio{
  font-family: 'Roboto-Condensed-Light';
  font-size: 160%;
  line-height: 90%;
  padding-left: 1%;
  min-width:9.4rem;
  max-height: 5rem;
}

.alt-top{
  height: 5rem;
  padding: 0;
}

.notaAtual {
  font-family: 'Roboto-Condensed-Light';
  font-size: 240%;
  vertical-align: bottom;
  margin-top: 10%;
  text-align: right;
  padding-right: 10%;
}

.margem{
  padding-top: 2px;
}

.sem-borda-bottom{
  border-bottom: none;
}

td{
  border-bottom: 1px dotted;
}

strong{
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 50px;
  width:5px;
}


 @media(max-width:991px){ 
  .borda-tab{
    border-right:none !important;
  }
  .borda-esq{
    padding-left: 0!important;
  }
}

@media screen and(min-width: 991px) and (max-width:1400px){
  .municipio{
    font-size: 121%!important;
    min-width: 6.9rem;
  }
  .notaAtual{
    font-size: 150%;

  }
  .posicao{
    font-size: 160%;
  }
  .alt-top{
    height: 4.3rem;
  }
}
@media screen and(min-width: 992px) and (max-width:1180px){
.container-fluid{
  width: 22.8rem!important;
  }
}
@media screen and(min-width: 1399px) and (max-width:1650px){
  .municipio{
    font-size: 140%!important;
    min-width: 6rem;
  }
  .notaAtual{
    font-size: 1.8rem;

  }
  .posicao{
    font-size: 2.1rem;
  }
  .alt-top{
  height: 4.3rem;
  }
}
