.borda-esq{
  border-left: 1px solid;
  padding-left: 2%;
}

.link {
  font-family: 'Roboto-Condensed';
  font-size: 200%;
  line-height: 90%;
  text-align: right;
  color: rgb(5, 127, 178);
}

.titulo{
  font-family: 'Roboto-Condensed-Bold';
  font-size: 240%;
  line-height: 130%;
  text-align: left;
}

.sub-titulo{
  font-family: 'Roboto-Condensed-Light';
  font-size: 150%;
  line-height: 70%;
  text-align: left;
}

.posicao {
  font-family: 'Roboto-Condensed';
  font-size: 280%;
  line-height: 90%;
  vertical-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.municipio{
  font-family: 'Roboto-Condensed-Light';
  font-size: 160%;
  line-height: 90%;
  padding-left: 1%;
  vertical-align: center;
}

.notaAtual {
  font-family: 'Roboto-Condensed-Light';
  font-size: 240%;
  vertical-align: bottom;
  margin-top: 10%;
  text-align: right;
  padding-right: 10%;
}

.margem{
  padding-top: 10px;
}

.sem-borda-bottom{
  border-bottom: none;
}


td{
  border-bottom: 1px dotted;
}

strong{
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 50px;
  width:5px;
}
